@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700|Roboto:300,400,500,700&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cards.css");

body{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	background-color: #E3E3E3;
	color: #28334AFF;
}
	
h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
  text-decoration: none;
}